@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format("truetype");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
  }
  button {
    @apply w-full h-full;
  }
}
